@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Raleway:ital@1&family=Titillium+Web:ital,wght@1,300&display=swap');


*{
	margin: auto;
}


.header
{
    border: 10px;
    color: darkblue;
    background-color: darkblue;
    height: 50px;
    width: 800px;
    text-align: center;
	font-family: 'Cinzel', serif;
}


body
{
    color: white;
    background-color: black;
    font-family: 'Raleway', sans-serif;

    margin: 0 0;
}

.photos
{
    margin-left: auto; 
    margin-right: auto;
    position: center;
    width: 350px;
}

.photos2
{
    margin-left: auto; 
    margin-right: auto;
    position: center;
    width: 150px;
}

.home
{
    color: white;
    background-color: #ffffff;
    font-family: comic sans ms;
    margin: 0 0;
    overflow: hidden;
    margin-top: 100px;
    width: 800px;
    text-align: center;
    background-color: black;
	font-family: 'Raleway', sans-serif;
	margin: auto;
}

.block
{
    display: block;
    padding: 0.1em 0.1em;
}

.box
{
    display: block;
    padding: 0.1em 0.1em;
    background-color: deepskyblue;
    font-weight: bold;
}

#box
{
    text-align: left;
    margin-left: 250px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li
{
    float: left;
    width: 160px;
    margin: 0;
    padding: 0;
    text-align: center;

}

ul li a
{
    display: block;
    padding: 15px;
    color: white;
    background-color: darkblue;
    text-decoration: none;
    transition: background 0.4s;
}

ul li a:hover
{
    background-color: blue;
}

.color
{
    background-color: dodgerblue;
}

ul li .color:hover
{
    background-color: blue;
}

ul .sub
{
    display: none;
    position: absolute;
}

.sub li
{
    float: none;
}

.sub a:hover
{
    background-color:darkblue;
}

ul li:hover .sub
{
    display: block;
}


.body
{
    margin-top: 100px;
    width: 800px;
    text-align: center;
}

button
{
    background-color: darkblue;
    color: white;
    width: 200px;
    border: 0px;
    height: 30px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.pictures
{
    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
}

.pictures1
{
    width: 500px;
    height: 300px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
    margin-right: 20px;
}

.logo
{
    border-radius: 50%;
    width: 400px;
}

.slider-inner
{
    width: 500px;
    height: 300px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
    margin-right: 20px;
}

.slider-inner img
{
    display: none;
    width: 500px;
    height: 300px;
    text-align: center;
    position: absolute;
}

.slider-inner img.active
{
    display: block;
}

.prev, .next
{
    float: left;
    margin-top: 130px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    border-radius: 50px;
    padding: 10px;
    width: 25px;
    height: 25px;
}

#concert, #event
{
    margin-top: 10px;
}

.prev
{
    position: relative;
    z-index: 100;
}

.next
{
    position: relative;
    z-index: 100;
}

#cg{
	font-size: 13.8px; 
	height:21px;
}

.footer
{
    margin-top: 40px;
    width: 800px;
    background-color: deepskyblue;
    text-align: center;
    font-weight: bold;
    color: darkblue;
    display: block;
    padding: 0.1em 0.1em;
}


#top-space{
	margin-top: 60px;
	margin-bottom: 20px;
}

#space{
	margin-bottom: 20px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media (max-width: 800px){
	.header, .footer,.box, .home, .slider-inner, .prev, .next{
	width: 100%;
    height: auto;} 
    
    .body
    {
        width: 100%;
        font-size: 10pt;
        text-align: center;
    }
	
    .slider-inner
    {
        width: 425px;
        height: 255px;
        position: relative;
    }

    .slider-inner img
    {
        width: 425px;
        height: 255px;
    }
    
	.logo, .pictures,{
		width: 50%;
		max-width:100%;
		height:auto;
	}
	
	.box{
		font-size: 20pt;
	}
	
	ul li{
		float: none;
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: left;
	}
	
	ul .sub{
		width: 100%;
		display: none;
		position: static;
	}
	
  input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


}